@import url("./fonts.css");

@import url("./menu-mobile.css") screen and (max-width: 800px);
@import url("./menu.css") screen and (min-width: 799px);

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background: #eee;
}

h1 {
    font-weight: bold;
    font-family: "Aleo";
    font-size: 60px;
    line-height: 1.1;
}

h2 {
    font-weight: bold;
    font-family: "Aleo";
    font-size: 53px;
    line-height: 1.1;
}

h3 {
    font-weight: bold;
    font-family: "Aleo";
    font-size: 30px;
    line-height: 1.1;
}

@media (max-width: 450px) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 25px;
    }
}

p {
    color: black;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
}

.hero-area {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.hero-area>img {
    object-fit: contain;
    filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 1));
    width: 100%;
    height: auto;
    margin: 3vw;
    margin-right: 0;
    max-width: 800px;
    margin-top: 50px;
    flex-grow: 1;
}

@media (min-width: 916px) and (max-width: 1400px) {
    .hero-area > img:not(a) {
        margin-top: 270px !important;
    }
}

.hero-area>div {
    min-width: 250px;
    margin-left: -160px;
    flex-grow: 10;
    width: 10%;
}

@media (max-width: 916px) {
    .hero-area>div:not(a) {
        margin: 10px;
    }
}

.hero-area > * {
    margin-top: 150px;
}

.hero-area h1 {
    font-size: 70px;
    font-weight: bold;
    background: white;
    line-height: 1;
    display: inline;
}

@media (max-width: 450px){
    .hero-area h1 {
        font-size: 50px;
    }
}

.hero-area h2 {
    font-size: 50px;
    font-weight: bold;
    background: white;
    line-height: 1;
    display: inline;
}

.brutal-block {
    position: relative;
    height: fit-content;
    margin: 0;
    z-index: 0;
    background: #e1cbd1;
    align-content: center;
    padding-bottom: 1px;
}

.brutal-block>img {
    position: absolute;
    top: 0;
    height: 100%;
    border: 0;
    width: 70vw;
    object-fit: cover;
}

.brutal-block:nth-child(even)>img {
    right: 0;
}

.brutal-block>h2,
.brutal-block>h3 {
    color: white;
    position: relative;
    max-width: 70vw;
    margin-top: 0;
    top: 100px;
    margin-left: 30vw;
    margin-bottom: 35vh;
    z-index: 100;
}

.brutal-block:nth-child(even)>h2 {
    margin-left: 20vw;
}

.brutal-block>p {
    position: relative;
    margin-left: 54vw;
    max-width: 500px;
    background: white;
    padding: 20px;
}

.brutal-block>p:last-child {
    margin-bottom: 20vh;
}

.brutal-block:nth-child(even)>p {
    margin-left: 20vw;
}

@media (max-width: 450px) {
    .brutal-block>img {
        width: 100vw;
    }

    .brutal-block>p {
        position: relative;
        margin-left: 0 !important;
        background: white;
        padding: 20px;
        width: 100vw;
    }
    
    p {
        column-count: 1 !important;
    }
    
    .center-block>img {
        padding: 50px 0 !important;
    }
    
    .center-block {
        padding-bottom: 0px !important;
    }
    
    .card {
        margin: 10px 0 !important;
    }
    
    .news-card {
        padding: 0 !important;
    }
}

.center-block {
    margin-top: -50px;
    z-index: 10;
    text-align: center;
    align-content: center;
    padding-bottom: 100px;
    
}

.center-block > * {
    display: inline-block;
    max-width: 1100px;
}

.center-block>img {
    position: relative;
    background: #fcbb76;
    padding: 50px;
    max-width: 90vw;
}

.center-block>h2,
.center-block>h3 {
    background: white;
    position: relative;
    top: -80px;
    left: 20px;
    display: inline-block;
    max-width: 90vw;
}

.center-block>p {
    background: white;
    margin: unset auto;
    position: relative;
    top: -120px;
    padding: 15px;
    column-count: 2;
    text-align: left;
}

.center-block> :last-child {
    margin-bottom: -50px;
}

p.quote {
    font-style: italic;
    padding-left: 50px;
    column-count: 1;
    margin-left: 30vw;
    max-width: 700px;
}

.quote::before {
    content: "“";
    font-family: "Aleo";
    font-size: 40px;
    position: relative;
    top: 10px;
}

.quote>b::before {
    content: " - ";
}

.flex-block {
    display: flex;
    width: 100%;
    padding: 50px 0px 100px;
    flex-wrap: wrap;
    justify-content: center;
    background: darkseagreen;
    margin: 0;
    list-style-type: none;
}

.card {
    display: block;
    max-width: 600px;
    background: white;
    margin: 10px;
    position: relative;
}

.card>img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    padding: 20px;
    background: #ddd;
}

.card> :not(img) {
    margin: 20px;
}

.two-cols {
    column-count: 2;
}

.heading-block {
    max-width: 1100px;
    width: 90vw;
    margin: 100px auto -40px;
    z-index: 100;
    position: relative;
    z-index: 10;
    text-align: center;
}


.heading-block>h2,
.heading-block>h3,
.heading-block>h1 {
    background: white;
    display: inline-block;
    margin: auto;
    margin: 30px;
    padding: 10px;
}
.news-card {
    position: relative;
    margin: 0px;
    text-align: center;
    flex-grow: 1;
    padding: 30px;
    max-width: 800px;
    width: 50%;
    min-width: 400px;
}

.news-card:nth-child(1) {
    width: 100%;
    max-width: 100%;
}

.news-card:nth-child(1) img {
    max-width: 1200px;
}

.news-card img {
    width: 100%;
    height: auto;
    max-width: 800px;
}

.news-card  h3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    background: white;
    transform: translate(-80%, -60px);
    z-index: 101;
    display: inline;
    margin: 0;
    text-align: left;
}

.more-link {
    position: relative;
    top: -80px;
    left: -100px;
    font-family: "roboto";
    font-size: 30px;
    background: #fff;
    
    
}


a.btn {
    border-top: 3px solid #d57c95;
    border-left: 3px solid #d57c95;
    border-right: 3px solid #760121;
    border-bottom: 3px solid #760121;
    background-color: #b44261;
    margin-top: 10px;
    padding: 10px;
    display: inherit;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.price {
	font-size:300%;
	margin-bottom:10px;
	margin-top:10px;
}
